<div class="navbar">
    <div class="left">
        <button class="button">REGISTRAR</button>
        <button class="button">FILTROS</button>
    </div>
    <div class="middle"></div>
    <div class="right">
        <div class="search-container">
            <input type="text" placeholder="Dirección" />
            <button type="button">
                <img src="/lupa.png" alt="BUSCAR" width="24px" />
            </button>
        </div>
        <button class="button">
            <img src="/usuario.png" alt="USUARIO" width="24px" />
        </button>
    </div>
</div>